<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" *ngFor="let item of about">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{item.title}}</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="images/about-header.jpg" border="0" alt="">
        </div>
        
        <div class="mdl-grid portfolio-copy" [innerHTML]='item.body'>
            
        </div>
    </div>

</div>
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Demo: AngularJS 2 + Material Design + Drupal 8 (Design Credit: <a href="https://getmdl.io/templates/index.html" target="_blank">https://getmdl.io/templates/index.html</a>)</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>