<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">Demo: AngularJS 2 + Material Design + Drupal 8</span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/portfolio">Home</a>
                <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/about">About</a>
                <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/contact">Contact</a>
            </nav>
        </div>
    </header>
    
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" routerLink="/portfolio" routerLinkActive="is-active">Home</a>
            <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/about">About</a>
            <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/contact">Contact</a>
        </nav>
    </div>
    
    <router-outlet></router-outlet>
    
    <main class="mdl-layout__content">
        
    </main>
</div>